body{
	background-image: url(../img/bg.png);
	background-repeat: repeat-x;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;	
    color:white !important;
}

a{
    text-decoration: none !important;     
    -webkit-animation: fontcolor 20s infinite;
    animation: fontcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;	
}

#loading-bar .bar {position: relative;}
.hidden-large{display: none;}  
.nopadding{padding-right: 0px !important;padding-left: 0px !important;}

.pagebox{
    margin-top: 10px;
    background: black;
    opacity: 0.8;
	height: auto;
}

.navbar-simple{background: black;opacity: 0.8;}
.navbar-btn-simple:hover h5{color:#02a9a2;cursor: pointer;transition: 0.4s;} 	
.navbar-btn-simple{margin-top: 5px;} 

.logo{height: 120px;width: 600px;}
.publi-call{height: 200px; width: 200px;}
.publi-call:hover{opacity: 0.3; transition: 0.4s;}

.router-btn-simple img{height: 20px;width: 50px;}
.router-btn-simple button{ background-color: transparent; border: none; margin-top: 2px; padding: }

.selected{border: blueviolet 1px solid;border-radius:5px;}
.router-btn-simple button:hover img{border:grey 1px solid;}

/* TRANSIÇÃO DE PÁGINAS */

.transition.ng-enter {
    transition: 0.5s linear all;
    opacity:0;
  }
  .transition.ng-enter.ng-enter-active {
    opacity:1;
  }

@keyframes bgcolor {
    0% {
        background-color: #620080
    }

    20% {
        background-color: #0099ff
    }

    50% {
        background-color: #ff0000
    }

    70% {
        background-color: #0099ff
    }

    100% {
        background-color: #620080
    }
}

@keyframes fontcolor {
    0% {
        color: #fffb00;
    }

    20% {
        color: #00ff22;
    }

    50% {
        color: #0ad7fc;
    }

    70% {
        color: #00ff22;
    }

    100% {
        color: #fffb00;
    }
}

/****** TABLET ******/
@media only screen and (max-width: 1024px) {
}	

@media only screen and (max-width: 768px) {
    .hidden{display: none;}
    .hidden-large{display: inline;}
    .logo-cel{
        height: 260px;
    }
}	 

/****** MOBILE ******/
@media only screen and (max-width: 450px) {
    body{
        background-position: center center;
        background-attachment: fixed;
        background-image: url(../img/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-animation: bgcolor 20s infinite;
        animation: bgcolor 10s infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;	
        color:white !important;        
    }    

}	
