body{
	background-image: url(../img/bg.png);
	background-repeat: repeat-x;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;	
}

h5{color:white;}
.nopadding{padding-right: 0px !important;padding-left: 0px !important;}

.pagebox{
    margin-top: 50px;
	border:1px solid white;
	height:300px;
}
.router-btn-simple:hover h5{
	color:#02a9a2;
	cursor: pointer;
	transition: 0.4s;
} 	
.router-btn-simple{
	margin-top: 5px;
} 

.logo{
	height: 120px;
	width: 500px;
}

@keyframes bgcolor {
    0% {
        background-color: #800080
    }

    30% {
        background-color: #00ff00
    }

    60% {
        background-color: #ff0000
    }

    90% {
        background-color: #00ff00
    }

    100% {
        background-color: #800080
    }
}

/****** TABLET ******/
@media only screen and (max-width: 1024px) {
}	

@media only screen and (max-width: 768px) {
}	 

/****** MOBILE ******/
@media only screen and (max-width: 450px) {
}	
