@import url('fonts.css');

html{scrollbar-width: none;}
html::-webkit-scrollbar { width: 0.5px; height: 0.5px;}
html::-webkit-scrollbar-thumb {background-color: #263472;}

body{  
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;	
    color:white !important;
}

.hidden-large{display: none;}  
.selected{
    text-decoration: none !important;     
    -webkit-animation: fontcolor 20s infinite;
    animation: fontcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;	
}

.background-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../img/bg.png) center center no-repeat;
    background-size: cover;
    top: 0px;
    left: 0px;
    z-index: -1;
}

/* NAVBAR / FOOTER  */

.navbar-wrapper{height:40px;background-color: transparent;}
.footer-wrapper{height:100px;background-color: transparent;}

#loading-bar .bar {position: relative;}

.navbar-simple{
    top: 0px;
    height: 60px;
    z-index: 1000;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
}

.footer-simple{
    bottom: 0;
    height: 60px;
    z-index: 1000;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
}

/* BTN'S  */

.btn{
    color: antiquewhite !important;
} .btn:focus{box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0) !important;}

.social-btn{filter: grayscale(90%);}
.footer-btn{border-bottom: 4px solid #2e5cfe !important;}
.btn-translation{border-bottom-right-radius: 0px !important;border-top-right-radius: 0px !important;}
.navbar-btn-buy{background-color: #2e5cfe !important; border-radius: 0 !important; height: 60px; width: 250px !important;} 	

/* VIDEO  */

.video-player{
    height: 450px;
    width: 850px;
}

/* IMG  */

.logo{height: 40px;width: 200px;}
.publi-call{height: 20px; width: 20px;}
.publi-call:hover{opacity: 0.3; transition: 0.4s;}

.router-btn-simple img{height: 20px;width: 50px;}
.router-btn-simple button{ background-color: transparent; border: none; margin-top: 2px;}
.router-btn-simple button:hover img{border:grey 1px solid;}

/* TRANSIÇÃO DE PÁGINAS */

.transition.ng-enter {
    transition: 0.5s linear all;
    opacity:0;
}
.transition.ng-enter.ng-enter-active {
    opacity:1;
}

@keyframes bgcolor {
    0% {
        background-color: #620080
    }

    20% {
        background-color: #0099ff
    }

    50% {
        background-color: #ff0000
    }

    70% {
        background-color: #0099ff
    }

    100% {
        background-color: #620080
    }
}

@keyframes fontcolor {
    0% {
        color: #620080
    }

    20% {
        color: #0099ff
    }

    50% {
        color: #ff0000
    }

    70% {
        color: #0099ff
    }

    100% {
        color: #620080
    }
}

/****** MOBILE ******/
@media only screen and (max-width: 450px) {
    .hidden-large {display: block !important;}
    .hidden-mobile{display: none !important;}
    .background-wrapper {display: none;}
    .logo{height: 30px;width: 30px;}

    .video-player{
        height: 250px;
        width: 850px;
    }

    body{
        background-image: url(../img/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;

        -webkit-animation: bgcolor 20s infinite;
        animation: bgcolor 10s infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;	
        color:white !important;        
    }    

}	
